@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    transform: translateY(-50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: gray;
    position:fixed;

}

.white-space-top {
height: 200px;
}
.brand {
    font-size: 1rem;
    margin: .5rem;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    transform: translateX(50vw);
}

.navbar-links li a {
   text-decoration: none;
   color: black;
   padding: 1rem;
   display: block;
}

@media only screen and (min-width: 1000px) {
    .navbar-links li {
        transform: translateX(40vw);
    }
}

@media only screen and (max-width: 1000px) {
    .navbar-links li {
        transform: translateX(20vw);
    }
}


@media only screen and (max-width: 650px) {
    .navbar-links li {
        transform: translateX(0vw);
    }
}

.intro-text {
   font-size: 50px;
}
.intro-subtext {
   color: purple;
}

.intro-button {
    background-color: rgb(82,9,121);
    color: white;
    border: 0px;
    border-radius: 25px;
    padding: 20px;
}

.intro-container {
display: flex;
max-height:1000px;
transform: translate(-200px,-200px);
width: 1500px;
}

.shape2 {
}

.intro-text-button {
transform: translate(200px,-600px) !important;
}

@media only screen and (min-width: 1530px) {
    .intro-container {
        transform: translate(-20vw,-200px) !important;
    }
}

nav {
z-index: 10;
}

.intro-left {
    width: 1500px;
}

.shape-1 {
    width: 700px;
    transform: translate(150px,200px);

}

.profile-img {
    transform: translate(150px,-300px);

}

@media only screen and (max-width: 1550px) {
    .shape-1 {
        width: 450px !important;
        transform: translate(-10vw,300px);
    }
    .intro-text {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1250px) {
    .shape-1 {
        width: 450px !important;
        transform: translate(-30vw,300px);
    }
}

@media only screen and (max-width: 1000px) {
    .shape-1 {
       display: none;
    }
}