<nav class="navbar">
    <div class="brand-title"><img src="~/img/selfmadeicon.png" /> </div>
    <div class="navbar-links">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>
<div class="white-space-top">
</div>
<div class="intro-container">
    <div>
        <div class="intro-text">
        Self-Made<br />
        <div class="intro-subtext">Giving You The Learning 
        <br /> Materials for HTML</div>
        </div>
        <button class="intro-button">More Info!</button>
    </div>
    <div>
        image placeholder
    </div>
</div>

