<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<nav class="navbar">
    <div class="brand-title"><img src="~/img/selfmadeicon.png" /> </div>
    <div class="navbar-links">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>

<div class="white-space-top">
</div>
<div class="intro-container">
    <div class="intro-left">
        <img class="shape2" src="~/img/Shape2.png" />
        <div class="intro-text-button">
            <div class="intro-text">
                Self-Made<br />
                <div class="intro-subtext">
                    Giving You The Learning
                    <br /> Materials for HTML
                </div>
            </div>
            <button class="intro-button">More Info!</button>
        </div>
    </div>
    <div class="intro-profile-picture">
        <img class="shape-1" src="~/img/shape3.png" />
    </div>
</div>
<div class="text-bar">
    <img class="bar-image" src="~/img/bar.png" />
    <div class="bar-content">
        <img class="office-image" src="~/img/office-image.png" />
        <div class="bar-text">
            <p>Learn how to write HTML<h1 class="font-weight-bold">At Home</h1>Click below for more information on how to learn HTML</p>
            <button class="bar-button">More info</button>
        </div>
    </div>
</div>
<div class="carousel-container">
    <div class="carousel-head-text">
        All available<br />
        <div class="carousel-sub-text">
            <span>Info</span> Services
        </div>
    </div>
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

        <div class="controls-top">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
            <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
        </div>

        <ol class="carousel-indicators">
            <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
            <li data-target="#multi-item-example" data-slide-to="1"></li>
            <li data-target="#multi-item-example" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">

                <div class="row">
                    <div class="col-md-3">
                        <div class="card mb-2">
                            <img class="card-img-top" src="~/img/browser.png"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Screen size</h4>
                                <p class="card-text">
                                    Test all edge cases on different screen resolutions.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="~/img/desktop.png"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Performant</h4>
                                <p class="card-text">
                                    Ability to make performant HTML pages.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="~/img/hard-disk.png"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">No database</h4>
                                <p class="card-text">
                                    There's no need for any database, mock it here.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--/.First slide-->
            <!--Second slide-->
            <div class="carousel-item">

                <div class="row">
                    <div class="col-md-3">
                        <div class="card mb-2">
                            <img class="card-img-top" src="~/img/coding.png"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Up-to-date</h4>
                                <p class="card-text">
                                    Make use of and learn how to use the latest updates.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="~/img/wifi.png"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Offline modus</h4>
                                <p class="card-text">
                                    No internet connection?
                                    No problem.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="~/img/usb.png"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">External Storage</h4>
                                <p class="card-text">
                                    Have the possibility to store all info at one place.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>



